---
---

.container
  .resume-wrapper
    %header.resume
      .avatar{style: "background-image: url(#{image_path('avatar.jpg')})"}
      %article.title
        %h1 Galen Frechette
        %h2 Observe - Enquire - Envision - Build
    %ol.time-line
      %li.point
        %h3 thoughtbot inc.
        %p.desc
        = link_to 'www.thoughtbot.com', 'http://www.thoughtbot.com'
