---
---

.container
  .resume-wrapper
    %header.resume
      .avatar{style: "background-image: url(#{image_path('avatar.jpg')})"}
      %article.title
        %h1 Galen Frechette
        %h2 Observe - Enquire - Envision - Build
    %ol.time-line
      %li.point
        .locator
          %i.fa.fa-wrench
        %h3
          = link_to 'thoughtbot', 'http://www.thoughtbot.com'
        .dates
          %span October 2011 to Present
        %p.desc
          Acted as a project lead on many projects, mentored design apprentices
          and provided design advising for several client projects. Introduced and
          implemented Product Design Sprints to better help launch
          MVPs for early stage startup clients as well as address existing problems
          or launch new features for more established businesses. Personal writing
          on Product Design Sprints: http://robots.thoughtbot.com/the-product-design-sprint
        .links
